@{
    ViewBag.Title = "Contact";
}


<body>
    <calcite-dropdown width="m" close-on-select-disabled>
        <calcite-button slot="trigger" scale="l" kind="inverse" appearance="outline-fill" icon-start="classify-pixels">
            Garden preferences
        </calcite-button>
        <calcite-dropdown-group selection-mode="single" group-title="Select a fruit">
            <calcite-dropdown-item selected>Orange</calcite-dropdown-item>
            <calcite-dropdown-item>Apple</calcite-dropdown-item>
            <calcite-dropdown-item>Pomegranate</calcite-dropdown-item>
        </calcite-dropdown-group>
        <calcite-dropdown-group selection-mode="multiple" group-title="Choose vegetables">
            <calcite-dropdown-item selected>Rutabaga</calcite-dropdown-item>
            <calcite-dropdown-item>Parsnip</calcite-dropdown-item>
            <calcite-dropdown-item>Pea</calcite-dropdown-item>
            <calcite-dropdown-item selected>Pepper</calcite-dropdown-item>
            <calcite-dropdown-item>Broccoli</calcite-dropdown-item>
        </calcite-dropdown-group>
        <calcite-dropdown-group selection-mode="none" group-title="Plant something">
            <calcite-dropdown-item>New fruit</calcite-dropdown-item>
            <calcite-dropdown-item>New vegetable</calcite-dropdown-item>
        </calcite-dropdown-group>
    </calcite-dropdown>
</body>

<script>
    const button = document.getElementById("example-button");
    const dialog = document.getElementById("example-dialog");

    button?.addEventListener("click", function() {
        dialog.open = true;
    });
</script>