
@{
    ViewBag.Title = "ArcGIS WMS Layer with Zoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Add mapload *@
<script type="module" src="~/Scripts/Map/LoadMap.js"></script>

<!-- #region viewMapDiv -->
<calcite-shell content-behind>
    @*<calcite-loader></calcite-loader>*@

    <calcite-navigation slot="header">
        <calcite-navigation-logo id="header-title" heading-level="1" slot="logo">
            <!-- Dynamically populated -->
        </calcite-navigation-logo>
    </calcite-navigation>

    <calcite-shell-panel slot="panel-start" display-mode="float">
        <calcite-action-bar slot="action-bar">
            <calcite-action data-action-id="addlayer" icon="plus" text="Add Layer"></calcite-action>
            <calcite-action data-action-id="layers" icon="layers" text="Layers"></calcite-action>
            <calcite-action data-action-id="basemaps" icon="basemap" text="Basemaps"></calcite-action>
            <calcite-action data-action-id="legend" icon="legend" text="Legend"></calcite-action>
            <calcite-action data-action-id="bookmarks" icon="bookmark" text="Bookmarks"></calcite-action>
            <calcite-action data-action-id="print" icon="print" text="Print"></calcite-action>
            <calcite-action data-action-id="information" icon="information" text="Information"></calcite-action>
        </calcite-action-bar>

        <!-- Map-specific panels (each one provides a div for a ArcGIS Maps SDK for JavaScript widget) -->
        <calcite-panel heading="Add Layer" height-scale="l" data-panel-id="addlayer" hidden>
            <div id="addlayer-container"></div>
        </calcite-panel>
        <calcite-panel heading="Layers" height-scale="l" data-panel-id="layers" hidden>
            <div id="layers-container"></div>
            <calcite-split-button slot="fab" primary-icon-start="layers" primary-text="Add" overlay-positioning="fixed" data-name="addfromonline" appearance="outline-fill" kind="brand" dropdown-icon-type="chevron" scale="m" width="auto" calcite-hydrated=""><calcite-dropdown-group selection-mode="none" role="group" calcite-hydrated=""><calcite-dropdown-item icon-start="search" data-name="addfromonline" role="menuitem" tabindex="0" calcite-hydrated="">Browse layers</calcite-dropdown-item><calcite-dropdown-item icon-start="web" data-name="addfromurl" role="menuitem" tabindex="0" calcite-hydrated="">Add layer from URL</calcite-dropdown-item><calcite-dropdown-item icon-start="pencil-mark" data-name="addsketch" role="menuitem" tabindex="0" calcite-hydrated="">Create Sketch layer</calcite-dropdown-item><calcite-dropdown-item icon-start="media-layer" data-name="addmedia" role="menuitem" tabindex="0" calcite-hydrated="">Add media layer</calcite-dropdown-item></calcite-dropdown-group></calcite-split-button>
        </calcite-panel>
        <calcite-panel heading="Basemaps" height-scale="l" data-panel-id="basemaps" hidden>
            <div id="basemaps-container"></div>
        </calcite-panel>
        <calcite-panel heading="Legend" height-scale="l" data-panel-id="legend" hidden>
            <div id="legend-container"></div>
        </calcite-panel>
        <calcite-panel heading="Bookmarks" height-scale="l" data-panel-id="bookmarks" hidden>
            <div id="bookmarks-container"></div>
        </calcite-panel>
        <calcite-panel heading="Print" height-scale="l" data-panel-id="print" hidden>
            <div id="print-container"></div>
        </calcite-panel>

        <!-- Info panel (populates with info from the web map) -->
        <calcite-panel heading="Details" data-panel-id="information" hidden>
            <div id="info-content">
                <img id="item-thumbnail" alt="webmap thumbnail" />
                <div id="item-description">
                    <!-- Dynamically populated -->
                </div>
                <calcite-label layout="inline">
                    <b>Rating:</b>
                    <calcite-rating id="item-rating" read-only>
                        <!-- Dynamically populated -->
                    </calcite-rating>
                </calcite-label>
            </div>
        </calcite-panel>
    </calcite-shell-panel>

    @*<calcite-shell-panel slot="panel-start" position="start" id="shell-panel-start" collapsed>
            <calcite-action-bar slot="action-bar">
                <calcite-action text="Save" icon="save" indicator></calcite-action>
                <calcite-action active icon="map" text="Map"></calcite-action>
                <calcite-action icon="layer" text="Layer"></calcite-action>
            </calcite-action-bar>
            <calcite-panel heading="Map" id="panel-start" closable closed>
                <calcite-block heading="Block 1" collapsible></calcite-block>
            </calcite-panel>
        </calcite-shell-panel>

        <calcite-shell-panel slot="panel-end" position="end" id="shell-panel-end" collapsed>
            <calcite-action-bar slot="action-bar">
                <calcite-action text="Layer" icon="sliders-horizontal"></calcite-action>
                <calcite-action text="Styles" icon="shapes"></calcite-action>
                <calcite-action text="Filter" icon="layer-filter"></calcite-action>
                <calcite-action text="Configure" icon="popup"></calcite-action>
            </calcite-action-bar>
            <calcite-panel heading id="panel-end" closable closed>
                <calcite-block heading="Block 1" collapsible></calcite-block>
            </calcite-panel>
        </calcite-shell-panel>*@

    <div id="line-button" class="esri-widget esri-widget--button  esri-interactive" title="Draw polyline">
        <span class="esri-icon-polyline"></span>
    </div>
    @*
    <div id="Home-button" class="esri-widget esri-widget--button esri-home" title="Default map view">
        <span class="esri-icon-home"></span>
    </div>
    <div id="FullScreen-button" class="esri-widget esri-widget--button esri-interactive" title="Full Screen">
        <span class="esri-icon-zoom-out-fixed"></span>
    </div>*@
    <div id="mapView"></div>
</calcite-shell>

<!-- #endregion -->
@* Add DrawTools *@
@*<script type="module" src="~/Scripts/Map/Draw.js"></script>*@

@*Add Identify*@
<script type="module" src="~/Scripts/Map/Identify.js"></script>


@*<script type="module" src="~/Scripts/Map/Test.js"></script>*@



@*<script>
        const shellPanelStart = document.getElementById("shell-panel-start");
        const shellPanelEnd = document.getElementById("shell-panel-end");
        const panelStart = document.getElementById("panel-start");
        const panelEnd = document.getElementById("panel-end");

        const actionsStart = shellPanelStart?.querySelectorAll("calcite-action");
        const actionsEnd = shellPanelEnd?.querySelectorAll("calcite-action");

        actionsStart?.forEach(el => {
            el.addEventListener("click", function(event) {
                actionsStart?.forEach(action => (action.active = false));
                el.active = panelStart.closed;
                shellPanelStart.collapsed = !shellPanelStart.collapsed;
                panelStart.closed = !panelStart.closed;
                panelStart.heading = el.text;
            });
        });

        panelEnd?.addEventListener("calcitePanelClose", function(event) {
            actionsEnd.forEach(action => (action.active = false));
            shellPanelEnd.collapsed = true;
        });

        actionsEnd?.forEach(el => {
            el.addEventListener("click", function(event) {
                actionsEnd?.forEach(action => (action.active = false));
                el.active = panelEnd.closed;
                shellPanelEnd.collapsed = !shellPanelEnd.collapsed;
                panelEnd.closed = !panelEnd.closed;
                panelEnd.heading = el.text;
            });
        });
    </script>*@
