
@{
    ViewBag.Title = "ArcGIS WMS Layer with Zoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- #region Link -->

<link rel="stylesheet" type="text/css" href="~/Content/Map/Map.css" />
<script src="https://js.arcgis.com/4.30/"></script>

<!-- #endregion -->
<!-- #region viewMapDiv -->

<div id="mapView"></div>

<!-- #endregion -->
<!-- #region Script -->

@*Add locall leaflet.js*@
<script type="text/javascript" src="~/Content/Map/Leaflet/leaflet.js"></script>

@*Add mapload javascript*@
<script type="text/javascript" src="~/Scripts/Map/MapLoad.js"></script>

@*Add Online leaflet.js*@
@*<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>*@


<!-- #endregion -->
