
@{
    ViewBag.Title = "ArcGIS WMS Layer with Zoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- #region Link & Script -->

<link rel="stylesheet" type="text/css" href="~/Content/Map/Map.css" />

@*Add Arcgis Moulde api 4.30*@
@*<script src="https://js.arcgis.com/4.25/"></script>*@
<script src="~/Scripts/Map/arcgis_js_v430_api/arcgis_js_api/javascript/4.30/init.js"></script>
<script type="module" src=https://js.arcgis.com/calcite-components/2.13.0/calcite.esm.js></script>
<link rel="stylesheet" type="text/css" href=https://js.arcgis.com/calcite-components/2.13.0/calcite.css />

@* Add mapload *@
<script src="~/Scripts/Map/LoadMap.js"></script>

<!-- #endregion -->
<!-- #region viewMapDiv -->
@*Add div test for Identify*@
<calcite-shell id="mapView">
    <calcite-panel heading="Content" id="Content1">

    </calcite-panel>
    <calcite-shell-panel slot="panel-start" position="start" id="shell-panel-start">
        <calcite-action-bar slot="action-bar">
            <calcite-action text="Save" icon="save" indicator></calcite-action>
            <calcite-action text="Map" icon="map" active></calcite-action>
            <calcite-action text="Layer" icon="layer"></calcite-action>
        </calcite-action-bar>
        <calcite-panel heading="Map" id="panel-start">
            <calcite-block heading="Block 1" collapsible></calcite-block>
        </calcite-panel>
    </calcite-shell-panel>
    <calcite-shell-panel slot="panel-end" position="end" id="shell-panel-end" collapsed>
        <calcite-action-bar slot="action-bar">
            <calcite-action text="Layer" icon="sliders-horizontal"></calcite-action>
            <calcite-action text="Styles" icon="shapes"></calcite-action>
            <calcite-action text="Filter" icon="layer-filter"></calcite-action>
            <calcite-action text="Configure" icon="popup"></calcite-action>
        </calcite-action-bar>
        <calcite-panel heading id="panel-end" closable closed>
            <calcite-block heading="Block 1" collapsible></calcite-block>
        </calcite-panel>
    </calcite-shell-panel>

    <div id="line-button" class="esri-widget esri-widget--button  esri-interactive" title="Draw polyline">
        <span class="esri-icon-polyline"></span>
    </div>
    <div id="Home-button" class="esri-widget esri-widget--button esri-home" title="Default map view">
        <span class="esri-icon-home"></span>
    </div>
    <div id="FullScreen-button" class="esri-widget esri-widget--button esri-interactive" title="Full Screen">
        <span class="esri-icon-zoom-out-fixed"></span>
    </div>

</calcite-shell>

@**@

<!-- #endregion -->
@* Add DrawTools *@
@*<script src="~/Scripts/Map/Draw.js"></script>*@
