
@{
    ViewBag.Title = "ArcGIS WMS Layer with Zoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Add mapload *@
<script type="module" src="~/Scripts/Map/LoadMap.js"></script>

<!-- #region viewMapDiv -->
<calcite-shell content-behind calcite-hydrated>
    @*<calcite-loader></calcite-loader>*@

    <calcite-navigation slot="header">
        <calcite-navigation-logo id="header-title" heading-level="1" slot="logo">
            <!-- Dynamically populated -->
        </calcite-navigation-logo>
    </calcite-navigation>

    <calcite-shell-panel slot="panel-end" display-mode="float" position="end">
        <calcite-action-bar slot="action-bar">
            <calcite-action data-action-id="addlayer" icon="plus" text="Add Layer"></calcite-action>
            <calcite-action data-action-id="layers" icon="layers" text="Layers"></calcite-action>
            <calcite-action data-action-id="basemaps" icon="basemap" text="Basemaps"></calcite-action>
            <calcite-action data-action-id="legend" icon="legend" text="Legend"></calcite-action>
            <calcite-action data-action-id="bookmarks" icon="bookmark" text="Bookmarks"></calcite-action>
            <calcite-action data-action-id="print" icon="print" text="Print"></calcite-action>
            <calcite-action data-action-id="information" icon="information" text="Information"></calcite-action>
        </calcite-action-bar>
    </calcite-shell-panel>

    <calcite-shell-panel slot="panel-start" display-mode="float" position="start">
        <calcite-action-bar slot="action-bar">
            <calcite-action data-action-id="addlayer" icon="plus" text="Add Layer"></calcite-action>
            <calcite-action data-action-id="layers" icon="layers" text="Layers"></calcite-action>
            <calcite-action data-action-id="basemaps" icon="basemap" text="Basemaps"></calcite-action>
            <calcite-action data-action-id="legend" icon="legend" text="Legend"></calcite-action>
            <calcite-action data-action-id="bookmarks" icon="bookmark" text="Bookmarks"></calcite-action>
            <calcite-action data-action-id="print" icon="print" text="Print"></calcite-action>
            <calcite-action data-action-id="information" icon="information" text="Information"></calcite-action>
        </calcite-action-bar>

        <!-- Map-specific panels (each one provides a div for a ArcGIS Maps SDK for JavaScript widget) -->
        <calcite-panel heading="Add Layer" height-scale="l" data-panel-id="addlayer" hidden>
            <div id="addlayer-container"></div>
        </calcite-panel>
        <calcite-panel heading="Layers" height-scale="l" data-panel-id="layers" hidden>
            <div id="layers-container"></div>
            @*<calcite-button id="btn_AddData" slot="fab" primary-icon-start="layers" primary-text="Add" overlay-positioning="fixed" data-name="addfromonline" appearance="outline-fill" kind="brand" dropdown-icon-type="chevron" scale="m" width="auto" calcite-hydrated=""></calcite-button>*@
            <calcite-button id="btn_AddData" icon-start="add-layer" label="Add new layer" slot="fab" scale="m" width="auto" overlay-positioning="fixed">Add</calcite-button>
        </calcite-panel>
        <calcite-panel heading="Basemaps" height-scale="l" data-panel-id="basemaps" hidden>
            <div id="basemaps-container"></div>
        </calcite-panel>
        <calcite-panel heading="Legend" height-scale="l" data-panel-id="legend" hidden>
            <div id="legend-container"></div>
        </calcite-panel>
        <calcite-panel heading="Bookmarks" height-scale="l" data-panel-id="bookmarks" hidden>
            <div id="bookmarks-container"></div>
        </calcite-panel>
        <calcite-panel heading="Print" height-scale="l" data-panel-id="print" hidden>
            <div id="print-container"></div>
        </calcite-panel>

        <!-- Info panel (populates with info from the web map) -->
        <calcite-panel heading="Details" data-panel-id="information" hidden>
            <div id="info-content">
                <img id="item-thumbnail" alt="webmap thumbnail" />
                <div id="item-description">
                    <!-- Dynamically populated -->
                </div>
                <calcite-label layout="inline">
                    <b>Rating:</b>
                    <calcite-rating id="item-rating" read-only>
                        <!-- Dynamically populated -->
                    </calcite-rating>
                </calcite-label>
            </div>
        </calcite-panel>
    </calcite-shell-panel>


    <div id="line-button" class="esri-widget esri-widget--button  esri-interactive" title="Draw polyline">
        <span class="esri-icon-polyline"></span>
    </div>
    <div id="identify" class="esri-widget esri-widget--button  esri-interactive" title="Draw polyline">
        <span class="esri-icon-polyline"></span>
    </div>
    @*
        <div id="Home-button" class="esri-widget esri-widget--button esri-home" title="Default map view">
            <span class="esri-icon-home"></span>
        </div>
        <div id="FullScreen-button" class="esri-widget esri-widget--button esri-interactive" title="Full Screen">
            <span class="esri-icon-zoom-out-fixed"></span>
        </div>*@
    <div id="mapView"></div>

    <!--Add meature test-->
    <div id="toolbarDiv" class="esri-component esri-widget">
        <button id="distance" class="esri-widget--button esri-interactive esri-icon-measure-line" title="Distance Measurement Tool">
        </button>
        <button id="area" class="esri-widget--button esri-interactive esri-icon-measure-area" title="Area Measurement Tool">
        </button>
        <button id="clear" class="esri-widget--button esri-interactive esri-icon-trash" title="Clear Measurements">
        </button>
    </div>


    <!-- Add Modal-->
    <calcite-dialog heading="Add layer" id="dialog_AddData" scale="m" widthScale="m" slot="modals">
        <div style="padding-bottom:80px">
            <calcite-label>
                <span class="lable">URL Or Path</span>
                <calcite-input id="input_AddData" value="http://localhost:6080/arcgis/rest/services/KhoramAbad/KhoramAbad14030712/MapServer" placeholder="Example: http://"></calcite-input>
            </calcite-label>
            <calcite-label>
                <span class="lable">Data Type</span>
            </calcite-label>
            <calcite-combobox selection-mode="single" id="combo_AddData">
                <calcite-combobox-item value="ArcGIS Server web service" text-label="ArcGIS Server web service" selected></calcite-combobox-item>
                <calcite-combobox-item value="Shapefile" text-label="Shapefile"></calcite-combobox-item>
                <calcite-combobox-item value="GeoJSON" text-label="GeoJSON"></calcite-combobox-item>
                <calcite-combobox-item value="KML (OGC)" text-label="KML (OGC)"></calcite-combobox-item>
                <calcite-combobox-item value="OGC feature layer" text-label="OGC feature layer"></calcite-combobox-item>
                <calcite-combobox-item value="WFS (OGC)" text-label="WFS (OGC)"></calcite-combobox-item>
                <calcite-combobox-item value="WMS (OGC)" text-label="WMS (OGC)"></calcite-combobox-item>
                <calcite-combobox-item value="WMTS (OGC)" text-label="WMTS (OGC)"></calcite-combobox-item>
                <calcite-combobox-item value="GeoRSS" text-label="GeoRSS"></calcite-combobox-item>
                <calcite-combobox-item value="CSV" text-label="CSV"></calcite-combobox-item>
                <calcite-combobox-item value="Tile layer" text-label="Tile layer"></calcite-combobox-item>
            </calcite-combobox>

        </div>
        <calcite-notice open icon width="full">
            <div slot="message"><span>Supported layer types are CSV, GeoJSON, OGC WFS web service, OGC WMS web service, OGC WMTS web service, OGC API - Features, ArcGIS Server web service, KML, GeoRSS, tile layer</span></div>
        </calcite-notice>
        <calcite-button slot="footer-start" kind="neutral">Back</calcite-button>
        <calcite-button slot="footer-end" appearance="outline" id="btn_CancelAddData">Cancel</calcite-button>
        <calcite-button slot="footer-end" id="btnAdd_AddData">Add</calcite-button>
    </calcite-dialog>
</calcite-shell>
<!-- #endregion -->

@* Add DrawTools *@
@*<script type="module" src="~/Scripts/Map/Draw.js"></script>*@

@*Add Identify*@
@*<script type="module" src="~/Scripts/Map/Identify.js"></script>*@


@*<script type="module" src="~/Scripts/Map/Test.js"></script>*@


