
@{
    ViewBag.Title = "ArcGIS WMS Layer with Zoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- #region viewMapDiv -->

<calcite-shell>
    <!-- Header: Top navigation area -->
    <calcite-navigation slot="header">
        <calcite-navigation-user slot="logo" full-name="تحلیل گران آمارد" thumbnail="~/Content/Images/Amard.png"></calcite-navigation-user>
        <calcite-navigation-logo id="header-title" heading-level="1" slot="content-center">
            <!-- Dynamically populated -->
        </calcite-navigation-logo>
        <calcite-menu slot="content-end">
            <calcite-menu-item text="باز نشانی" icon-start="refresh" id="refresh" hidden></calcite-menu-item>
            <calcite-menu-item text="نقشه" icon-start="analysis" text-enabled active></calcite-menu-item>
        </calcite-menu>
    </calcite-navigation>
    <!-- Left Panel -->
    <calcite-shell-panel slot="panel-start" position="start" id="shell-panel-start" display-mode="float" collapsed>
        <calcite-action-bar slot="action-bar" id="actionBarLeft">
            <calcite-action-group>
                <calcite-action id="measureTool" icon="measure" text="ابزار اندازه‌گیر"></calcite-action>
                <calcite-action id="editable" icon="layers-editable" text="ویرایش"></calcite-action>
                <calcite-action id="identify" icon="information" text="اطلاعات"></calcite-action>
            </calcite-action-group>                        
            <clacite-action-group layout="vertical" overlay-positioning="fixed" class="js-action-group" calcite-hydrated slot="actions-end">                
                @*<calcite-action id="mapProperties" icon="gear" text="تنظیمات"></calcite-action>*@
            </clacite-action-group>
        </calcite-action-bar>

        <!-- Map-specific panels (each one provides a div for a ArcGIS Maps SDK for JavaScript widget) -->
        @*<calcite-panel heading="ابزار اندازه‌گیری" height-scale="l" data-panel-id="measureTool" hidden>
                <div id="measureTool-container" style="height:50px">
                    <calcite-switch id="switchMeasure" label="فعال کردن ابزار"></calcite-switch>
                </div>
            </calcite-panel>*@
        <calcite-panel id="panel_measureTool" hidden closed>
            <div id="measureTool-container" style="margin:10px;text-align:center">
                <calcite-switch id="switchMeasure" label="فعال کردن ابزار"></calcite-switch>
            </div>
        </calcite-panel>
        <calcite-panel id="panel_editable" hidden closed></calcite-panel>
    </calcite-shell-panel>
    <!-- Right Panel -->
    <calcite-shell-panel slot="panel-end" position="end" id="shell-panel-end" display-mode="float" collapsed>
        @*<calcite-action-bar slot="action-bar" id="actionBarLeft">*@
        <calcite-action-bar slot="action-bar" id="actionBarRight">
            <calcite-action-group>
                <calcite-action id="layers" icon="layers" text="لایه‌ها"></calcite-action>
                <calcite-action id="legend" icon="legend" text="راهنمای نقشه"></calcite-action>
                <calcite-action id="basemaps" icon="basemap" text="نقشه‌های پایه"></calcite-action>                
                <calcite-action id="print" icon="print" text="چاپ و خروجی"></calcite-action>

            </calcite-action-group>
            <clacite-action-group layout="vertical" overlay-positioning="fixed" class="js-action-group" calcite-hydrated slot="actions-end">
                @*<calcite-action id="information" icon="information" text="اطلاعات"></calcite-action>*@
                <calcite-action id="mapProperties" icon="gear" text="تنظیمات"></calcite-action>
            </clacite-action-group>
        </calcite-action-bar>

        <!-- Map-specific panels (each one provides a div for a ArcGIS Maps SDK for JavaScript widget) -->
        <calcite-panel id="panel_layers" class="drRtL" hidden closed>
            <div id="layers-container"></div>
            @*<calcite-button id="btn_AddData" slot="fab" primary-icon-start="layers" primary-text="Add" overlay-positioning="fixed" data-name="addfromonline" appearance="outline-fill" kind="brand" dropdown-icon-type="chevron" scale="m" width="auto" calcite-hydrated=""></calcite-button>*@
            <calcite-button id="btn_AddData" icon-start="add-layer" label="افزودن داده" slot="fab" scale="m" width="auto" overlay-positioning="fixed">افزودن داده</calcite-button>
        </calcite-panel>
        <calcite-panel id="panel_basemaps" class="drRtL" hidden closed>
            <div id="basemaps-container"></div>
        </calcite-panel>
        <calcite-panel id="panel_legend" class="drRtL" hidden closed>
            <div id="legend-container"></div>
        </calcite-panel>
        <calcite-panel id="panel_print" class="drRtL" hidden closed>
            <div id="print-container"></div>
        </calcite-panel>
        <!-- Info panel (populates with info from the web map) -->
        <calcite-panel id="panel_information" class="drRtL" hidden closed>
            <div id="info-content">
                <div id="item-description">
                    <!-- Dynamically populated -->
                </div>
            </div>
        </calcite-panel>
        <calcite-panel id="panel_mapProperties" class="drRtL" hidden closed>
            <div id="mapProperties-container"></div>
        </calcite-panel>
    </calcite-shell-panel>

    <!--#region Extera buttons-->
    @*<div id="FullScreen-button" class="esri-widget esri-widget--button esri-interactive" title="Full Screen">
            <span class="esri-icon-zoom-out-fixed"></span>
        </div>

        <div id="line-button" class="esri-widget esri-widget--button  esri-interactive" title="Draw polyline">
            <span class="esri-icon-polyline"></span>
        </div>
        <div id="identify" class="esri-widget esri-widget--button  esri-interactive" title="Draw polyline">
            <span class="esri-icon-polyline"></span>
        </div>

        <div id="Home-button" class="esri-widget esri-widget--button esri-home" title="Default map view">
            <span class="esri-icon-home"></span>
        </div>*@
    <!--#endregion-->
    <!-- Main Content Area: Where the map or primary content goes -->
    <calcite-panel id="panelMapView">
        <div id="mapView">
            <div id="optionsDiv" class="esri-widget" hidden>
                <p>Select a query type and click a point on the map to view the results.</p>
                <select id="query-type" class="esri-widget">
                    <option value="basic">Basic Query</option>
                    <option value="distance">Query By Distance</option>
                </select>
            </div>
        </div>

        <calcite-card id="measurement-result" appearance="solid">
            <div slot="title">Measurement Result</div>
            <div slot="subtitle"><span id="result-value">0</span></div>
        </calcite-card>
    </calcite-panel>
    
    <!-- AttributeTable -->
    <calcite-panel id="panelAttributeTable">
        <div id="attributeTable">
            <calcite-button id="closeAttributeTable" icon-start="x-circle" label="بستن جدول" hidden></calcite-button>
        </div>
    </calcite-panel>
    <!-- Add Modal -->
    <calcite-dialog heading="افزودن داده" id="dialog_AddData" kind="info">
        <div style="padding-bottom:80px">
            <calcite-label>
                <span class="lable">آدرس کامل داده را وارد نمایید:</span>
                <calcite-input style="direction:ltr;text-align:left" id="input_AddData" value="http://localhost:6080/arcgis/rest/services/KhoramAbad/KhoramAbad14030712/MapServer" placeholder="Example: http://"></calcite-input>
            </calcite-label>
            <calcite-label>
                <span class="lable">نوع داده را انتخاب کنید:</span>
            </calcite-label>
            <calcite-combobox style="direction:ltr;text-align:left" selection-mode="single" id="combo_AddData">
                <calcite-combobox-item value="ArcGIS Server web service" text-label="ArcGIS Server web service" selected></calcite-combobox-item>
                <calcite-combobox-item value="Shapefile" text-label="Shapefile"></calcite-combobox-item>
                <calcite-combobox-item value="WMS (OGC)" text-label="WMS (OGC)"></calcite-combobox-item>
                <calcite-combobox-item value="CSV" text-label="CSV"></calcite-combobox-item>
                <calcite-combobox-item value="GeoJSON" text-label="GeoJSON"></calcite-combobox-item>
                <calcite-combobox-item value="KML (OGC)" text-label="KML (OGC)"></calcite-combobox-item>
                <calcite-combobox-item value="OGC feature layer" text-label="OGC feature layer"></calcite-combobox-item>
                <calcite-combobox-item value="WFS (OGC)" text-label="WFS (OGC)"></calcite-combobox-item>
                <calcite-combobox-item value="WMTS (OGC)" text-label="WMTS (OGC)"></calcite-combobox-item>
                <calcite-combobox-item value="GeoRSS" text-label="GeoRSS"></calcite-combobox-item>
                <calcite-combobox-item value="Tile layer" text-label="Tile layer"></calcite-combobox-item>
            </calcite-combobox>

        </div>
        <calcite-notice open icon width="full">
            <div slot="title">لیست نوع داده‌های مجاز:</div>
            <div slot="message" style="direction:ltr">CSV, GeoJSON, ArcGIS Server, WFS, etc.</div>
        </calcite-notice>
        <calcite-button slot="footer-end" id="btnCancel_AddData">انصراف</calcite-button>
        <calcite-button slot="footer-end" id="btnAdd_AddData">افزودن</calcite-button>
    </calcite-dialog>
    <!-- Add alet box for show system info -->
    <calcite-alert id="alert">
        <div slot="title" id="alertTitle"></div>
        <div slot="message" id="alertMessage"></div>
        @*<calcite-link slot="link">Take action</calcite-link>*@
    </calcite-alert>
</calcite-shell>
<!-- #endregion -->
@* Add mapload *@
<script type="module" src="~/Scripts/Map/LoadMap.js"></script>
@* Add DrawTools *@
@*<script type="module" src="~/Scripts/Map/Draw.js"></script>*@

@*Add Identify*@
@*<script type="module" src="~/Scripts/Map/Identify.js"></script>*@


@*<script type="module" src="~/Scripts/Map/Test.js"></script>*@
