
@{
    ViewBag.Title = "ArcGIS WMS Layer with Zoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Add mapload *@
<script type="module" src="~/Scripts/Map/LoadMap.js"></script>

<!-- #region viewMapDiv -->
<calcite-shell content-behind hidden>
    @*<calcite-loader></calcite-loader>*@

    <calcite-shell-panel slot="panel-start" position="start" id="shell-panel-start" collapsed>
        <calcite-action-bar slot="action-bar">
            <calcite-action text="Save" icon="save" indicator></calcite-action>
            <calcite-action active icon="map" text="Map"></calcite-action>
            <calcite-action icon="layer" text="Layer"></calcite-action>
        </calcite-action-bar>
        <calcite-panel heading="Map" id="panel-start" closable closed>
            <calcite-block heading="Block 1" collapsible></calcite-block>
        </calcite-panel>
    </calcite-shell-panel>

    <calcite-shell-panel slot="panel-end" position="end" id="shell-panel-end" collapsed>
        <calcite-action-bar slot="action-bar">
            <calcite-action text="Layer" icon="sliders-horizontal"></calcite-action>
            <calcite-action text="Styles" icon="shapes"></calcite-action>
            <calcite-action text="Filter" icon="layer-filter"></calcite-action>
            <calcite-action text="Configure" icon="popup"></calcite-action>
        </calcite-action-bar>
        <calcite-panel heading id="panel-end" closable closed>
            <calcite-block heading="Block 1" collapsible></calcite-block>
        </calcite-panel>
    </calcite-shell-panel>

    <div id="line-button" class="esri-widget esri-widget--button  esri-interactive" title="Draw polyline">
        <span class="esri-icon-polyline"></span>
    </div>
    <div id="Home-button" class="esri-widget esri-widget--button esri-home" title="Default map view">
        <span class="esri-icon-home"></span>
    </div>
    <div id="FullScreen-button" class="esri-widget esri-widget--button esri-interactive" title="Full Screen">
        <span class="esri-icon-zoom-out-fixed"></span>
    </div>
    <div id="mapView"></div>
</calcite-shell>

<!-- #endregion -->
@* Add DrawTools *@
@*<script type="module" src="~/Scripts/Map/Draw.js"></script>*@

@*Add Identify*@
<script type="module" src="~/Scripts/Map/Identify.js"></script>


@*<script type="module" src="~/Scripts/Map/Test.js"></script>*@



@*<script>
        const shellPanelStart = document.getElementById("shell-panel-start");
        const shellPanelEnd = document.getElementById("shell-panel-end");
        const panelStart = document.getElementById("panel-start");
        const panelEnd = document.getElementById("panel-end");

        const actionsStart = shellPanelStart?.querySelectorAll("calcite-action");
        const actionsEnd = shellPanelEnd?.querySelectorAll("calcite-action");

        actionsStart?.forEach(el => {
            el.addEventListener("click", function(event) {
                actionsStart?.forEach(action => (action.active = false));
                el.active = panelStart.closed;
                shellPanelStart.collapsed = !shellPanelStart.collapsed;
                panelStart.closed = !panelStart.closed;
                panelStart.heading = el.text;
            });
        });

        panelEnd?.addEventListener("calcitePanelClose", function(event) {
            actionsEnd.forEach(action => (action.active = false));
            shellPanelEnd.collapsed = true;
        });

        actionsEnd?.forEach(el => {
            el.addEventListener("click", function(event) {
                actionsEnd?.forEach(action => (action.active = false));
                el.active = panelEnd.closed;
                shellPanelEnd.collapsed = !shellPanelEnd.collapsed;
                panelEnd.closed = !panelEnd.closed;
                panelEnd.heading = el.text;
            });
        });
    </script>*@
