
@{
    ViewBag.Title = "ArcGIS WMS Layer with Zoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- #region Link & Script -->

<link rel="stylesheet" type="text/css" href="~/Content/Map/Map.css" />

@*Add Arcgis Moulde api 4.30*@
@*<script src="https://js.arcgis.com/4.30/"></script>*@
<script src="~/Scripts/Map/arcgis_js_v430_api/arcgis_js_api/javascript/4.30/init.js"></script>

@*Add mapload javascript*@
<script type="module" src="~/Scripts/Map/LoadMap.js"></script>


<!-- #endregion -->

<!-- #region viewMapDiv -->

<div id="mapView"></div>

<!-- #endregion -->

