
/*#region Import Map css */

/*Add Online leaflet css*/ 
/*@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");*/
/*Add locall leaflet css*/
@import url("Leaflet/leaflet.css");

/*Add locall arcgis css */
@import url("esri/themes/dark/main.css");
@import url("calcite/calcite.css");

/*#endregion */

/*#region MapLoad */

#viewMapDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    /*background-color: red;*/
}
#map {
    height: 470px;
    width: 100%;
}


/*#endregion */