/*#region MapLoad */

/* Map container */
#mapView {
    height:100%;
    width:100%;
    padding:0 37px 0 37px;
    margin:0;
    /*position: relative;*/
}

body {
    display: flex;
}

calcite-loader {
    align-self: center;
    justify-self: center;
}

#info-content {
    padding: 0.75rem;
}

calcite-rating {
    margin-top: 0.25rem;
}
#measurement-result {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    min-width: 200px;
    display: none;
}
/*#endregion */