
/*#region Import Map css */

/*Add Online leaflet css*/ 
/*@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");*/
/*Add locall leaflet css*/
/*@import url("Leaflet/leaflet.css");*/

/*Add locall arcgis css */
/*@import url("esri/themes/light/main.css");
@import url("calcite/calcite.css");
*/
@import url("../../Scripts/Map/arcgis_js_v430_api/arcgis_js_api/javascript/4.30/esri/themes/light/main.css");

/*#endregion */

/*#region MapLoad */

/* Map container */
#mapView {
    height:80vh;
    width:100%;
    position: relative;
}
#buttons{
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 99;
    display: flex;
    flex-direction: column;
}
.btn{
    background-color: white;
    border: 1px solid black;
    padding:10px;
    margin: 5px;
    cursor:pointer;
    font-size: 14px;
}
/* Zoom button styles */
/*.zoom-button{
    position: absolute;
    padding: 8px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 24px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}*/
 /* position Zoom In and Zoom Out buttons */
 /*#ZoomIn{
     top: 10px;
     right: 10px;
 }
 #ZoomOut{
     top: 60px;
     right: 10px;
 }*/
/*#endregion */